extends layout

block content

  div(class='jumbotron')
    h1 a little about me

  div(id='about-content', class='text-page col-md-9')!=md(markdown)

  div(class='col-md-3')
    nav(class='affix-top nav', id='about-affix')
      ul(class="nav")
        li: a(href='#about-family') family       
        li 
          a(href='#about-hobbies') hobbies
          ul(class='nav')
            li: a(href='#about-hobbies-reading') reading
            li: a(href='#about-hobbies-music') music
            li: a(href='#about-hobbies-eating') eating
            li: a(href='#about-hobbies-sports') sports
            li: a(href='#about-hobbies-games') games
            li: a(href='#about-hobbies-traveling') traveling
        li 
          a(href='#about-aspirations') aspirations
          ul(class='nav bs-docs-sidenav')
            li: a(href='#about-aspirations-family') family
            li: a(href='#about-aspirations-occupation') occupation
            li: a(href='#about-aspirations-education') education
        li: a(href='#about-community') community
