extends layout

block content
  a(href="http://stackoverflow.com/users/2554442/carpenter")
    img(id="stackoverflow-flair", src="http://stackoverflow.com/users/flair/2554442.png", width="208", height="58", alt="profile for carpenter at Stack Overflow, Q&amp;A for professional and enthusiast programmers", title="profile for carpenter at Stack Overflow, Q&amp;A for professional and enthusiast programmers")

  a(href="http://blog.reedcwilson.com")
    | Reed's blog
