extends layout

block content
  div(id="fullpage")
    //each obj, key in content.resume
    div(class="section")
      h1 Experience
      p Lorem ipsum dolor sit amet, blandit dui lectus tellus eleifend ad a, maecenas diam vitae accumsan amet mattis pharetra, elementum blandit nascetur nunc vitae faucibus wisi, blandit duis. Aptent in fermentum. Torquent integer viverra scelerisque lobortis eu faucibus, nonummy velit amet. Etiam ac. Venenatis hendrerit lacus venenatis vestibulum, eleifend lectus lectus fringilla erat erat sed, aliquet pellentesque et erat vehicula convallis, nulla tempore lacus nulla cursus ligula. Id id tellus, commodo ut amet ac, mi erat, massa vitae a sed lorem. Lorem eu duis ac, ut sit sed et justo ut mollis, malesuada a sit nulla ac mauris, quis tellus eget elit a. Tellus ligula metus congue libero rutrum rutrum. Ac vel sed elit velit interdum blandit. Pulvinar fusce duis id quis proin commodo, neque nullam id libero nunc. Libero blandit aenean amet, tristique in dui, arcu a ut urna, elit voluptas nec sem velit in. Wisi eu tortor sollicitudin. In porttitor nullam conubia lacus vitae ac, at turpis vel. Morbi id mollis quisque.

    div(class="section")
      h1 Skills
      p Lorem ipsum dolor sit amet, blandit dui lectus tellus eleifend ad a, maecenas diam vitae accumsan amet mattis pharetra, elementum blandit nascetur nunc vitae faucibus wisi, blandit duis. Aptent in fermentum. Torquent integer viverra scelerisque lobortis eu faucibus, nonummy velit amet. Etiam ac. Venenatis hendrerit lacus venenatis vestibulum, eleifend lectus lectus fringilla erat erat sed, aliquet pellentesque et erat vehicula convallis, nulla tempore lacus nulla cursus ligula. Id id tellus, commodo ut amet ac, mi erat, massa vitae a sed lorem. Lorem eu duis ac, ut sit sed et justo ut mollis, malesuada a sit nulla ac mauris, quis tellus eget elit a. Tellus ligula metus congue libero rutrum rutrum. Ac vel sed elit velit interdum blandit. Pulvinar fusce duis id quis proin commodo, neque nullam id libero nunc. Libero blandit aenean amet, tristique in dui, arcu a ut urna, elit voluptas nec sem velit in. Wisi eu tortor sollicitudin. In porttitor nullam conubia lacus vitae ac, at turpis vel. Morbi id mollis quisque.

    div(class="section")
      h1 Education
      p Lorem ipsum dolor sit amet, blandit dui lectus tellus eleifend ad a, maecenas diam vitae accumsan amet mattis pharetra, elementum blandit nascetur nunc vitae faucibus wisi, blandit duis. Aptent in fermentum. Torquent integer viverra scelerisque lobortis eu faucibus, nonummy velit amet. Etiam ac. Venenatis hendrerit lacus venenatis vestibulum, eleifend lectus lectus fringilla erat erat sed, aliquet pellentesque et erat vehicula convallis, nulla tempore lacus nulla cursus ligula. Id id tellus, commodo ut amet ac, mi erat, massa vitae a sed lorem. Lorem eu duis ac, ut sit sed et justo ut mollis, malesuada a sit nulla ac mauris, quis tellus eget elit a. Tellus ligula metus congue libero rutrum rutrum. Ac vel sed elit velit interdum blandit. Pulvinar fusce duis id quis proin commodo, neque nullam id libero nunc. Libero blandit aenean amet, tristique in dui, arcu a ut urna, elit voluptas nec sem velit in. Wisi eu tortor sollicitudin. In porttitor nullam conubia lacus vitae ac, at turpis vel. Morbi id mollis quisque.
