doctype html
html
  head
    title= title
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
body
  header
  h1 Sample Site

  block content
    
