doctype html
html(ng-app='resumeApp')
  head
    title= title
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name="viewport")

    if title == 'Home' 
      link(rel='stylesheet', type="text/css", href="stylesheets/jquery.fullPage.css")
    link(rel='stylesheet', href="lib/bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href='stylesheets/style.css')

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    if title == 'Home' 
      script(type="text/javascript", src="lib/fullpage/vendors/jquery.easings.min.js")
      script(type="text/javascript", src="lib/fullpage/vendors/jquery.slimscroll.min.js")
      script(type="text/javascript", src="lib/fullpage/jquery.fullPage.js")
      script(type="text/javascript", src="javascripts/fullpage-config.js")
    script(type="text/javascript", src="lib/angular/angular.js")
    script(type="text/javascript", src="lib/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="javascripts/controllers.js")
    script(type="text/javascript", src="javascripts/local.js")

  body(data-spy="scroll", data-target='#about-affix', data-offset='55')
    header
      nav(class='navbar navbar-default')
        div(class='container-fluid')
          div(class="navbar-header")
            button(type="button",  class="navbar-toggle collapsed", data-toggle="collapse", data-target="#menu")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand",  href="/") Résumé
          div(class='collapse navbar-collapse', id='menu')
            ul(class='nav navbar-nav')
              li(class='active'): a(href='/') Home
              li: a(href='/projects') Projects
              li: a(href='/about') About
              li: a(href='http://blog.reedcwilson.com') Blog


    div(class='container body')
      block content

//-footer(class='shadow-overline') Reed Wilson &#0169; 2014
