//@import global.styl

body
  font 12px Helvetica, Arial, sans-serif
  padding 0
  margin 0

a
  text-decoration none

a.button
  color #00b7ff

nav
  list-style none
  margin 0
  padding 0

nav li
  display inline

nav a
  display inline-block
  padding 25px 15px
  font-size 20px
  text-decoration none
  color #444

p
  width 200px

/*
 * Header and Footer
 */
header, footer
  width 100%
  background #fff
  z-index 150
  position fixed

header
  height 100px

footer
  text-align center
  bottom 0
  height 20px
  padding 10px

/*
 * Site Wrapper
 */
.site-wrapper
  width 960px
  margin 0 auto

/*
 * Content
 */
.content
  margin 100px 0px 20px 0px

/*
 * Site Name
 */
.site-name
  padding 25px 0
  font-family Calibri Segoe UI, Arial, Sans-Serif
  font-size 35px

/*
 * Site nav bar
 */
.site-nav
  float right

/*
 * Menu
 */
#menu
  position fixed
  top 100px
  left 0px
  height 40px
  z-index 70
  width 100%
  padding 0px
  margin 0px

#menu li
  display inline-block
  margin 10px
  color #000
  background none repeat scroll 0% 0% rgba(200, 200, 200, 0.5)
  border-radius 10px

#menu li.active a
  color #FFF

#menu li a, #menu li.active a
  padding 9px 18px
  display block

#menu li a
  text-decoration none
  color #000

/*
 * Page Sections
 */
.section
  padding 50px 0 !important

#experience-section
  background #F7F5F5


/*
 * Experience Table
 */
.experience-tbl
  width 1020px
  margin 0 auto

.experience-tbl td
  padding 70px
  text-align center

/*
 * Experience
 */
.experience
  text-align center
  background #fff
  height 250px
  width 450px
  margin auto

.experience h3
  font-family Calibri Segoe UI, Arial, Sans-Serif
  font-size 20px
  padding 75px 0 0 0
  margin 0

.experience img
  max-width 40%
  max-height 40%

.experience p
  padding 0
  margin auto
  

/*
 * More Experience
 */
.more-experience
  width 600px
  height 600px
  background #ddd
  text-align left
  position fixed
  top 50%
  left 50%
  margin -300px 0 0 -300px

/*
 * Technologies
 */
.technologies li
  height 50px

.technologies img
  max-width 100%
  max-height 100%

/*
 * Shadow
 */
.shadow-underline
  -moz-box-shadow    0px 4px 3px 0px #ccc
  -webkit-box-shadow 0px 4px 3px 0px #ccc
  box-shadow         0px 4px 3px 0px #ccc

.shadow-overline
  -moz-box-shadow    0px -4px 3px 0px #ccc
  -webkit-box-shadow 0px -4px 3px 0px #ccc
  box-shadow         0px -4px 3px 0px #ccc

/*
 * Hidden
 */
.hidden
  display none
