nav {
  z-index: 100;
}
/*
 * The experience dates
 */
.subtext {
  font-size: 10px;
}
.active-btn {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/*
 * Github Fork Me Ribbon
 */
#github-ribbon {
  position: fixed;
  top: 50px;
  left: 0px;
  border: 0px;
}
/*
 * StackOverflow Flair
 */
#stackoverflow-flair {
  display: inline;
  margin: 10px;
  float: right;
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 500px;
}
.fill img {
  flex-shrink: 0%;
  min-width: 100%;
  min-height: 100%;
}
.body {
  margin-top: 80px;
}
.text-page {
  margin-bottom: 150px;
}
.nav-tabs {
  border-bottom: none;
}
.project-img {
  max-width: 800px;
  max-height: auto;
}
.experience-icon {
  height: 20px;
  width: auto;
  margin-right: 10px;
}
/*
 * About Affix
 */
#about-affix {
  margin-top: 70px;
  margin-left: 30px;
}
#about-affix a {
  color: #808080;
}
#about-affix li {
  margin-left: 10px;
}
#about-affix a:hover {
  background: none;
}
#about-affix>ul>li.active>a,
#about-affix>ul>li.active>ul>li.active {
  border-left: 2px solid #808080;
}
#about-affix.affix {
  position: fixed;
  top: 0px;
  width: 100%;
}
