nav {
  z-index: 100;
}
/*
 * The experience dates
 */
.subtext {
  font-size: 10px;
}
.active-btn {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/*
 * Github Fork Me Ribbon
 */
#github-ribbon {
  position: absolute;
  top: 100px;
  border: 0px;
}
/*
 * StackOverflow Flair
 */
#stackoverflow-flair {
  margin: 20px;
  float: right;
}
.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: 500px;
}
.fill img {
  flex-shrink: 0%;
  min-width: 100%;
  min-height: 100%;
}
.body {
  margin-top: 80px;
}
.text-page {
  margin-bottom: 150px;
}
